.tabla{
	border-collapse: collapse;
	border: 1px solid #755; 
	background-color: #fc9; 
	padding: 0px;
}

.tabla td, .tabla th{
	border: 1px solid #866; 
	padding: 1px 5px;
}

thead{
	background-color: black;
	color: white;
	width:100%;
}

th, h1{
	font-size: 13pt;
	font-family: monospace;	
}

h1{
	padding: 5px;
	margin: 2px;
}

input.amarillo{
	background-color: #ffc;
}

.tab{
	z-index: 1;
	text-decoration: none; 
	border-left: 1px solid #422; 
	border-top: 1px solid #422; 
	border-right: 1px solid #422; 
	
	padding: 2px 3px 0 3px;
	color: brown;
}

.tab_elegido{
	z-index: 1;
	font-weight: 900; 
	text-decoration: none; 
	border-left: 2px solid #422; 
	border-top: 2px solid #422; 
	border-right: 2px solid #422; 
	border-bottom: 2px solid #fc9; 
	background-color: #fc9;
	padding: 2px 3px 0 3px;
	color: brown;
}

a.pagina{
	border: 2px solid white;
	padding: 2px 4px;
	margin: 2px
}

a.pagina_actual{
	border: 2px solid black;
	padding: 2px 4px;
	margin: 2px
	background-color: #99e;
}

.bombero_asiste:hover{
	text-decoration: underline;
}

.jsbutton{
	border: 2px outset #555;
}