<h1>Cuotas atrazadas</h1>
<p>De acuerdo a nuestros registros usted mantiene cuotas impagas. Por favor, regularice su situación.</p>

<table>
<tr>
	<th style="text-align: left">Rut:</th><td>[rut]</td>
</tr>
<tr>
	<th style="text-align: left">Bombero:</th><td>[nombre]</td>
</tr>
<tr>
	<th style="text-align: left">Última cuota:</th><td>[u_cuota]</td>
</tr>
<tr>
	<th style="text-align: left">Valor cuota actual:</th><td>[valor_cuota]</td>
</tr>
<tr>
	<th style="text-align: left">Cuotas impagas:</th><td>[cuotas_impagas]</td>
</tr>
<tr>
	<th style="text-align: left">Deuda (referencial):</th><td>[deuda]</td>
</tr>
</table>

<p><strong><em>[comentario_extra]</em></strong></p>

<p><strong>Impotante: Esta información se debe confirmar, por favor, acerquese al cuartel.</strong></p>