<h1>Pago Ingresado</h1>
<p>Se ha registrado el pago por parte de un bombero:</p>

<table>
<tr>
	<th style="text-align: left">ID pago:</th><td>[id]</td>
</tr>
<tr>
	<th style="text-align: left">Rut:</th><td>[rut]</td>
</tr>
<tr>
	<th style="text-align: left">Bombero:</th><td>[nombre]</td>
</tr>
<tr>
	<th style="text-align: left">Pagado:</th><td>[monto]</td>
</tr>
<tr>
	<th style="text-align: left; vertical-align: top">Cuotas:</th><td>[n_cuotas]</td>
</tr>
<tr>
	<th style="text-align: left; vertical-align: top">Comentario:</th><td>[comentario]</td>
</tr>
<tr>
	<th style="text-align: left">Fecha:</th><td>[fecha]</td>
</tr>
<tr>
	<th style="text-align: left">Ingreso por:</th><td>[usuario]</td>
</tr>
</table>